
<div class="row center" id="">
    <div class="col-12">
        <h1>Greetings With Routes</h1>
        <h4 class="error-message">{{errormessages}}</h4>
    </div>

</div>

<div class="row center">
    <div class="col-3"></div>
    <div class="col-6 center">
        <form id="userInput" method="POST" action="/greeted">
            <input id="inputBox" name="userEnteredName" type="" placeholder="Please Enter Your Name" pattern="[a-zA-Z]+"
                title="Please enter only letters A-Z">

            <br>
            <div class="in-block col-12 radio-toolbar">

                <input type="radio" name="radioLang" value="xhosa" id="1">

                <label for="1"></label>
                <span>IsiXhosa  </span>
                <input type="radio" name="radioLang" value="sotho" id="2">

                <label for="2"></label>
                <span>SeSotho  </span>
                <input type="radio" name="radioLang" value="tsonga" id="3">
                <label for="3"></label>
                <span>XiTsonga</span>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

<div class="row center">
</div>

<div class="row center ">
    <div class="col-6" id="greetBox">

    </div>

</div>
<div class="row center">
    <div class="col-12 center" id="greetBox">
        <button iduser(s) have been greeted on this app="greetBtn" type="submit" form="userInput" value="submit">
            <strong>GREET ME</strong>
        </button>
    </div>
</div>
<div>
    <h3><span class="greetText">{{greeting}}</span></h3>
</div>

<div>
    <h3><span class="errors">{{errors}}</span></h3>
</div>


</div>
<div class="entry">
</div>
<div class="center">
    <p id="counter-p">
        <strong>
           Users Greeted <span id="countNumber">{{counter}}</span>
        </strong>
    </p>
</div>